<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
  <div class="row justify-content-center">
    <h1 class="title text-center">URL Shortener</h1>
    <img class="main-image" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="chain">
  </div>
  <div class="row justify-content-center">
    <form id="url-form" action="/records" method="POST">
      <input type="hidden" name="uuid">
      <input type="text" name="url" class="form-control" placeholder="Input URL here">
      <button type="submit" class="btn btn-outline-primary">Shorten</button>
    </form>
  </div>
</div>
<div id="toast-warn" class="toast text-white bg-danger border-0" data-hasError="{{hasError}}" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      連線失敗，請確認是否為有效網址
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/index.js" defer></script>