<link rel="stylesheet" href="/stylesheets/success.css">

<div class="container">
  <div class="row justify-content-center">
    <h1 class="title text-center">URL Shortener</h1>
    <img class="main-image" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="chain">
  </div>
  <div class="row justify-content-center">
    <div id="url-result">
      <p>Success! Please use this link:</p>
      <a href="{{shortUrl}}">{{shortUrl}}</a>
      <button type="button" class="btn btn-primary">Copy</button>
    </div>
  </div>
</div>

<script src="/javascripts/success.js" defer></script>